/* hier komt stylesheet */

/* algemene styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}

body {
	--accent: hsl(13, 82%, 56%);
	--text-color: white;
	--border-color: rgb(120, 120, 120);
	--background-components: #ececec1a;
	--background-blur: blur(10px);
	--radius: 10px;

	background-image: url("/src/assets/galaxy.jpg");
}

canvas {
	display: block;
	position: absolute;
}

main {
	display: grid;
	grid-template-rows: 100%;
	justify-content: end;
	padding: 2rem;
	font-family: "Varela Round", sans-serif;
	min-height: 0;
	height: 100%;
	max-height: 100vh;
}

.component-picker {
	border: 1px solid var(--text-color);
	border-radius: var(--radius);
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	backdrop-filter: var(--background-blur);
	color: var(--text-color);
	background-color: var(--background-components);
	height: 100%;
	max-height: min(100%, 100dvh);
	scrollbar-color: var(--text-color) var(--background-components);

	hgroup {
		width: 100%;
		text-align: center;
	}

	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
		letter-spacing: -0.5px;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		max-height: 100%;
		overflow-y: scroll;
		padding-right: 0.5em;

		@media screen and (min-height: 911px) {
			overflow-y: auto;
		}
	}

	label {
		border: 1px solid var(--text-color);
		border-radius: 4px;
		padding: 0.75em;
		text-transform: uppercase;
		background-color: #00000054;
		transition: 0.2s;

		&:hover,
		&:focus {
			border: 1px solid var(--accent);
		}

		&:has(input[type="radio"]:checked) {
			background-color: var(--accent);
			border: 1px solid var(--accent);
		}
	}

	input[type="radio"] {
		appearance: none;
	}
}

.info-box {
	width: min-content;
	padding: 1.5rem;
	backdrop-filter: var(--background-blur);
	color: var(--text-color);
	background-color: var(--background-components);
	border-radius: var(--radius);
	border: 1px solid var(--border-color);

	&:hover,
	&:focus {
		border: 1px solid var(--accent);
	}

	p {
		width: 40ch;
	}
}

.logo {
	height: 100px;
	width: 100px;
}

.wrapper {
	position: absolute;
	
	h3 {
		text-transform: uppercase;
	}
}

.container {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	pointer-events: none;

	p {
		color: var(--text-color);
		margin: 0.25rem 0 0 0;
		font-size: 0.9rem;
		text-align: center;
	}
}

.scroll {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.9rem;
	color: var(--text-color);
	text-transform: uppercase;
}

.drag {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	pointer-events: auto;
	text-transform: uppercase;
}
